@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 
Variables
*/

$background-colour: #0a1828;
$primary-colour: #bfa181;
$primary-colour-icon: invert(72%) sepia(13%) saturate(801%) hue-rotate(350deg)
  brightness(91%) contrast(86%);
$secondary-colour: #178582;
$secondary-colour-icon: invert(42%) sepia(68%) saturate(454%) hue-rotate(129deg)
  brightness(89%) contrast(98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-colour;
  color: $primary-colour;
  font-family: 'Work Sans', 'sans-serif';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*:focus-visible {
  outline: 3px solid $secondary-colour;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  grid-template-rows: min-content auto min-content;
  place-items: center;
  min-height: 100svh;
  max-width: 1200px;
  padding: 1em;
}

header {
  display: grid;
  place-items: center;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  img {
    height: 32px;
  }
}

main {
  margin: 3em 0;

  .no-posts-heading,
  .no-comments-heading {
    text-align: center;
  }
}

.login-form {
  form {
    display: grid;
    place-items: center;
    gap: 16px;
  }

  label {
    cursor: pointer;
  }

  input {
    border: 1px solid $secondary-colour;
    padding: 0.75em;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
  }

  button {
    width: 100%;
    background-color: $secondary-colour;
    color: $background-colour;
    border: 2px solid $secondary-colour;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 1.5em;
    cursor: pointer;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .link {
    padding: 1em 4em;
    border: 2px solid $secondary-colour;
    border-radius: 8px;
    text-decoration: none;
    text-underline-offset: 0.5em;
    font-weight: 500;
  }
}

.new-post,
.edit-post,
.edit-comment {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .page-title {
    text-align: center;
  }
}

.post-form,
.comment-form {
  display: grid;
  gap: 16px;

  label {
    justify-self: center;
    cursor: pointer;
  }

  input[type='text'],
  textarea {
    border: 1px solid $secondary-colour;
    padding: 0.75em;
    font-size: 1rem;
    border-radius: 8px;
  }

  textarea {
    resize: none;
  }

  input[type='checkbox'] {
    height: 28px;
    width: 28px;
    justify-self: center;
    accent-color: $secondary-colour;
    cursor: pointer;
  }

  button[type='submit'] {
    background-color: $secondary-colour;
    color: $background-colour;
    border: 2px solid $secondary-colour;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
}

.comment-form {
  width: 500px;

  input[type='color'] {
    justify-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
}

.all-posts,
.unpublished-posts,
.published-posts,
.all-comments {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  button {
    background-color: $secondary-colour;
    color: $background-colour;
    border: 2px solid $secondary-colour;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
}

.all-posts-table,
.unpublished-posts-table,
.published-posts-table,
.all-comments-table {
  th {
    font-weight: 700;
  }

  th,
  td {
    text-align: center;
    padding: 0.75em 0.25em;
  }

  .post-title,
  .comment-content {
    text-align: start;
    max-width: 600px;
  }

  img {
    height: 28px;
    background-color: initial;
    filter: $primary-colour-icon;
  }
}

.delete-post,
.delete-comment {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  max-width: 600px;

  p:first-of-type {
    font-style: italic;
  }

  span {
    font-weight: 600;
  }

  button {
    background-color: $secondary-colour;
    color: $background-colour;
    border: 2px solid $secondary-colour;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
}

/* 
Text editor
Some selectors are atrocious
*/

.ql-toolbar {
  border: 1px solid $secondary-colour !important;
  border-radius: 8px 8px;
  margin-bottom: 1em;
}

.ql-container {
  border: 1px solid $secondary-colour !important;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  * {
    font-weight: revert !important;
    font-style: revert !important;
  }
}

.ql-snow .ql-stroke {
  stroke: $primary-colour !important;
}

.ql-snow .ql-fill {
  fill: $primary-colour !important;
}

.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill {
  fill: $secondary-colour !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: $secondary-colour !important;
}

.ql-picker-label {
  border-color: $secondary-colour !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: $primary-colour;
}

.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: $secondary-colour !important;
}

.ql-picker-options {
  border: 1px solid $secondary-colour !important;
  background-color: $background-colour !important;
}

.ql-tooltip {
  background-color: $background-colour !important;
  color: $primary-colour !important;
  box-shadow: none !important;
  border: 1px solid $secondary-colour !important;

  input {
    border: 1px solid $secondary-colour !important;
  }
}

.ql-preview {
  color: $primary-colour !important;
}

.ql-snow a {
  color: $secondary-colour !important;
}

.error-page {
  text-align: center;
}

.error-message {
  text-align: center;
  color: red;
}

/* 
Mobile media query
*/

@media (width <= 600px) {
  .all-posts-table,
  .unpublished-posts-table,
  .published-posts-table,
  .all-comments-table {
    width: 100%;

    th,
    td {
      font-size: 0.85rem;
    }

    .post-title,
    .comment-author,
    .comment-content {
      max-width: initial;
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
      word-break: break-all;
    }
  }

  .comment-form {
    width: 90vw;
  }
}
